<div class="container">
    <!-- <p [ngStyle]="myStyle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi dolorem soluta omnis, incidunt tenetur, voluptates vero animi nostrum laudantium reiciendis, id nihil ad. Autem necessitatibus expedita delectus consequatur tenetur sed?</p>
    <button class="btn btn-danger">click</button>
    <br />
    <br />
    <p [ngClass]="myCLass">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi dolorem soluta omnis, incidunt tenetur, voluptates vero animi nostrum laudantium reiciendis, id nihil ad. Autem necessitatibus expedita delectus consequatur tenetur sed?</p>
    <button class="btn btn-danger">click</button>
    <br />
    <br />
    <div *ngIf="hide; else elseBlock">
        <p>If Block Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi dolorem soluta omnis, incidunt tenetur, voluptates vero animi nostrum laudantium reiciendis, id nihil ad. Autem necessitatibus expedita delectus consequatur tenetur sed?</p>
    </div>
    <ng-template #elseBlock>
        <p>Else Block Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi dolorem soluta omnis, incidunt tenetur, voluptates vero animi nostrum laudantium reiciendis, id nihil ad. Autem necessitatibus expedita delectus consequatur tenetur sed?</p>
    </ng-template>
    <ng-template #ifBlock>
        <p>If Block Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi dolorem soluta omnis, incidunt tenetur, voluptates vero animi nostrum laudantium reiciendis, id nihil ad. Autem necessitatibus expedita delectus consequatur tenetur sed?</p>
    </ng-template>
    <button class="btn btn-danger" (click)="changeDiv()">click</button> -->

    <!-- <div class="row">
        <div class="col-md-3">
            <app-card>
                <h5 class="card-title">Labtop</h5>
                <button class="btn btn-primary">labtop info</button>
            </app-card>
        </div>
        <div class="col-md-3">
            <app-card>
                <h5 class="card-title">Mobile</h5>
                <button class="btn btn-primary">Mobile info</button>
            </app-card>
        </div>
        <div class="col-md-3">
            <app-card>
                <h5 class="card-title">Mouse</h5>
                <button class="btn btn-primary">Mouse info</button>
            </app-card>
        </div>
        <div class="col-md-3">
            <app-card>
                <h5 class="card-title">LCD</h5>
                <button class="btn btn-primary">LCD info</button>
            </app-card>
        </div>
    </div> -->
    <!-- <ng-container *ngIf="hide">
        <ul *ngFor="let d of data">
            <li>{{d.name}}</li>
            <li>{{d.age}}</li>
        </ul>
    </ng-container>  -->
    <!-- <div class="row">
        <div class="col-md-12">
            <h1 class="text-center my-5">Card Title: {{title}}</h1>
        </div>
        <div class="col-md-6">
            <app-about></app-about>
        </div>
        <div class="col-md-6">
            <app-service></app-service>
        </div>
    </div> -->
    <a [routerLink]="['/section']" >section</a>
    <a routerLink="/contact">contact</a>
</div>